<div class="flex flex-col min-h-screen">
    <app-navbar></app-navbar>

    <div class="flex flex-1">
        <app-sidebar></app-sidebar>

        <div class="flex-1 p-6">
            <h1 class="text-2xl font-bold mb-4">BANNER DE OFERTAS</h1>

            <div class="flex justify-between items-center mb-4">
                <div class="flex items-center space-x-2">
                    <button class="bg-[#7E493B] text-white px-4 py-2 rounded flex items-center whitespace-nowrap">
                        <span class="material-icons mr-2">add</span>
                        CREAR
                    </button>
                </div>
            </div>

            <div class="space-y-4">
                <div class="bg-white rounded-lg shadow-md p-4 flex items-center justify-between">
                    <div class="flex-1">
                        <h2 class="text-lg font-semibold">Por el dia del Amor y la amistad</h2>
                        <p class="text-sm mt-2">Por la compra de una pachamanca tiene un 50% de descuento en otra</p>
                        <p class="text-xs mt-2">Fecha: 16/02</p>
                    </div>
                    <div class="flex items-center space-x-2">
                        <button class="text-gray-600">
                            <span class="material-icons">edit</span>
                        </button>
                        <button class="text-red-600">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-4 flex items-center justify-between">
                    <div class="flex-1">
                        <h2 class="text-lg font-semibold">Por el dia del Amor y la amistad</h2>
                        <p class="text-sm mt-2">Por la compra de una pachamanca tiene un 50% de descuento en otra</p>
                        <p class="text-xs mt-2">Fecha: 16/02</p>
                    </div>
                    <div class="flex items-center space-x-2">
                        <button class="text-gray-600">
                            <span class="material-icons">edit</span>
                        </button>
                        <button class="text-red-600">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>