<div class="flex flex-col min-h-screen">
    <app-navbar></app-navbar>

    <div class="flex flex-1">
        <app-sidebar></app-sidebar>

        <div class="flex-1 p-6">
            <h1 class="text-2xl font-bold mb-4">FACTURAS</h1>

            <div class="flex justify-between items-center mb-4">
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">Lista de Comprobantes - Facturas</h2>
                </div>
                <div class="relative w-1/4">
                    <input type="text" placeholder="Buscar..." class="w-full p-2 pl-3 pr-10 border rounded-xl bg-[#D9D9D9]">
                    <span class="absolute right-3 top-2 material-icons text-gray-600">search</span>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                <p>ID : 1001 ID PEDIDO : 1001 FECHA DE EMISION : 21/08/2006 23:34 TIPO DE COMPROBANTE : Factura</p>
                <p>RUC : 66697567576 RAZON SOCIAL : Juancito SAC DOMICILIO FISCAL : Junin , Huancayo , Loretto 345</p>
            </div>

            <h1 class="text-2xl font-bold mb-4">BOLETAS</h1>

            <div class="flex justify-between items-center mb-4">
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">Lista de Comprobantes - Boletas</h2>
                </div>
                <div class="relative w-1/4">
                    <input type="text" placeholder="Buscar..." class="w-full p-2 pl-3 pr-10 border rounded-xl bg-[#D9D9D9]">
                    <span class="absolute right-3 top-2 material-icons text-gray-600">search</span>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <p>ID : 1001 ID PEDIDO : 1001 FECHA DE EMISION : 21/08/2006 23:34 TIPO DE COMPROBANTE : Boleta</p>
                <p>DNI : 94997963 NOMBRES Y APELLIDOS : Juanito Roses</p>
            </div>
        </div>
    </div>
</div>