<app-navbar></app-navbar>
<div class="flex h-screen">
    <app-sidebar></app-sidebar>
    <main class="flex-1 p-6">
        <div class="grid grid-cols-2 gap-6">
            <div class="bg-white p-4 rounded shadow">
                <h2 class="text-lg font-bold mb-2">Platos que se consumen en un día</h2>
                <div style="text-align:center">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [title]="chartOptions.title"
                ></apx-chart>
                </div>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <h2 class="text-lg font-bold mb-2">Producto Más Vendido del Mes</h2>
                <p><strong>Pachamanca de Pollo</strong></p>
                <p><strong>Cantidad:</strong> --</p>
            </div>
        </div>
    </main>
</div>

<!-- Icono Chatbot -->
<button class="fixed bottom-4 right-4 bg-gray-800 text-white p-3 rounded-full shadow-lg">
    🤖
</button>
