<div class="flex flex-col min-h-screen">
    <!-- Navbar Component -->
    <app-navbar></app-navbar>
  
    <!-- Contenedor flexible para Sidebar y Contenido -->
    <div class="flex flex-1">
      <!-- Sidebar Component -->
      <app-sidebar></app-sidebar>
  
      <!-- Contenido principal -->
      <div class="flex-1 p-6">
        <h2 class="text-xl font-semibold">Hola $nombre</h2>
        <div class="flex flex-row w-full">
            <div class="border border-black bg-gray-100 rounded-lg w-1/2 h-full mb-100 mt-4">
                <div class="p-4">
                    <p class="font-medium">Datos del usuario</p>
                    <p>nombre</p>
                    <p>Jorge Ciro</p>
                    <p>Apellido Paterno</p>
                    <p>Huaricapcha</p>
                    <p>Apellido Materno</p>
                    <p>Durand</p>
                    <p></p>
                </div>
                </div>
                <div class="flex justify-center items-center h-24 w-1/2 mt-10">
                    <div class="border border-black h-36 w-36 rounded-full">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  