<div class="flex flex-col min-h-screen">
    <app-navbar></app-navbar>

    <div class="flex flex-1">
        <app-sidebar></app-sidebar>

        <div class="flex-1 p-6">
            <h1 class="text-2xl font-bold mb-4">Editar Banner De Promociones</h1>

            <div class="bg-gray-200 p-6 rounded-lg shadow-md">
                <div class="mb-4">
                    <label class="block text-gray-700">producto</label>
                    <select name="Seleccione su producto" id="sele" class="w-full bg-white border rounded-md h-10 pl-4">
                        <option value="plato fuerte" class="mr-1.5">pachamanca de pollo</option>
                        <option value="plato fuerte" class="mr-1.5">pachamanca de cordero</option>
                        <option value="plato fuerte" class="mr-1.5">caldo de gallina</option>
                    </select>
                </div>
                <div>
                    <label class="block text-gray-700">Terminos y condiciones de la promocion</label>
                    <textarea class="w-full bg-white border border-black rounded-md rows-5" ></textarea>
                </div>
                <div>
                    <label class="block text-gray-700">Fechas</label>
                    <div class="flex space-x-4">
                        <div class="flex-1">
                            <label>Fecha de inicio</label> <br>
                            <input type="date" class="bg-white rounded-md w-full">
                        </div>
                        <div class="flex-1">
                            <label>Fecha de fin</label><br>
                            <input type="date" class="bg-white rounded-md w-full">
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700">Imagen</label>
                    <div class="relative">
                        <input type="file" class="hidden" id="image-upload-1">
                        <label for="image-upload-1" class="w-full p-2 border rounded bg-[#7E493B] text-white text-center cursor-pointer flex items-center justify-center">
                            <span class="material-icons mr-2">image</span>
                            <span>Seleccionar archivo</span>
                        </label>
                    </div>
                    <div class="mt-4 border rounded-lg p-4">
                        <img src="banner-promocion.jpg" alt="Banner de Promoción" class="w-full h-auto rounded-lg">
                        <div class="mt-2 text-center">
                            <p class="text-sm">Por el dia del Amor y la amistad</p>
                            <p class="text-sm">Por la compra de una pachamanca tiene un 50% de descuento en otra</p>
                            <p class="text-xs">Fecha: 16/02</p>
                        </div>
                    </div>
                </div>

                <div class="flex justify-end space-x-4">
                    <button class="bg-gray-500 text-white px-4 py-2 rounded">CANCELAR</button>
                    <button class="bg-[#7E493B] text-white px-4 py-2 rounded">ACTUALIZAR</button>
                </div>
            </div>
        </div>
    </div>
</div>